<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
   <a class="navbar-brand d-flex align-items-center" href=
   "<% if (user.rol === 'Directivo') { %>
       /dashboard-directivo
     <% } else if (user.rol === 'Secretaria') { %>
       /dashboard-secretaria
     <% } else { %>
       /
     <% } %>">
       <span class="fs-4 me-2"></span>FUNDAL
   </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFundal" aria-controls="navbarFundal" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarFundal">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if (user.rol === 'Directivo') { %>
          <li class="nav-item">
            <a class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath === '/usuarios') ? 'active' : '' %>" href="/usuarios">Administrar Usuarios</a>
          </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath === '/postulaciones') ? 'active' : '' %>" href="/postulaciones">Postulaciones</a>
        </li>

        <li class="nav-item">
          <a class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath === '/crear-nino') ? 'active' : '' %>" href="/crear-nino">Niño nuevo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath === '/expedientes') ? 'active' : '' %>" href="/expedientes">Expedientes</a>
        </li>

    <li class="nav-item">
              <a class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath === '/calendar') ? 'active' : '' %>" href="/calendar">Calendario</a>
            </li>


      </ul>
      <span class="navbar-text me-3">
        Bienvenido, <%= user.username %>
      </span>
      <a class="btn btn-outline-light" href="/logout">Cerrar Sesión</a>
    </div>
  </div>
</nav>
